

<div id="home_intro">
<h1>Welcome to flickfind</h1>
<h3>Click on the search button below to browse
for your favorite movies & build a favorite list
of movies to share with your friends.
</h3>

<br>

<div class="home-button">
<button class="btn btn-info">
<a href="/search">search</a>
</button>
</div>
</div>

