<!-- <form method="get" action="../movies/results">
  <div class="form-group">
    <label for="title">Title</label>
    <input name="t" type="search" class="form-control" id="searchButton" placeholder="search movies">
  </div>
  <button type="submit" class="btn btn-primary">Search</button>
</form> -->