<div class="well">
<h3>Tag Your Favorites</h3>
<form method="POST" action="/favorites<%= favorites.imdbID %>/tags">
  <input type="text" name="tag">
      <button class="btn comment-btn">Tag</button>
</form>
</div>