<form method="get" action="../movies/results">
  <div class="form-group">
    <label for="title">movie title</label>
<div id="search-wrapper">
    <input name="t" type="search" class="form-control" id="searchButton" placeholder="search movies">
  </div>
  <button type="submit" id="action" class="btn btn-primary form-group">action</button>
    </div>
</form>